@page
@model RIRSU_BUSINESS_TRAVELS.Pages.Expenses.AddExpensesPageModel
@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Add Expense - Business Travel Tracker</title>
        <link rel="stylesheet" href="~/css/styles.css" />
    </head>
    <body>
        <header style="background-color:#4A90E2; padding:20px; color:white; text-align:left;">
            <h1>Stroški</h1>
        </header>
        <div style="background-color:#EEEEEE; margin:20px; padding:20px;">
            <form method="post">
                <div style="display: grid; grid-template-columns: 1fr 2fr; gap: 20px;">
                    <div>
                        <label for="description" style="font-weight: bold;">Naziv stroška</label>
                        <input type="text" id="description" name="Description" />
                    </div>
                    <div>
                        <label for="amount" style="font-weight: bold;">Znesek:</label>
                        <input type="number" id="amount" name="Amount" />
                    </div>
                    <div>
                        <label for="category" style="font-weight:bold;">Kategorija</label>
                        <input type="text" id="category" name="Category" />
                    </div>
                    <div>
                        <label for="trip" style="font-weight:bold;">Poslovno potovanje</label>
                        <select id="trip" name="SelectedTripId" style="width:100%;">
                            <option value="">Select Trip</option>
                        </select>
                    </div>
                    <div style="grid-column:span 2; text-align:center; margin-top:20px;">
                        <button type="submit" style="background-color: #4a90e2; color:white; padding:10px 20px;border:none; cursor: pointer; width: 150px;">
                            Dodaj strošek
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>